<div class="content-block" id="blog">
  <div class="container blog-sec">
    <header class="block-heading cleafix">
      <a href="/reviews" class="btn btn-o btn-lg pull-right">View All</a>
      <div class="title-page">
        <p class="main-header"><%= @spot.name %></p>
        <% if @spot.reviews.present? %>
          <p class="sub-header">
            レビュー平均点：<%= @average %>点&nbsp;&nbsp;
            <div class="star-rating">
              <div class="star-rating-front" style="width: <%= @rate %>%">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
          </p>
        <% else %>
          <p class="sub-header">レビュー平均点：まだレビューは投稿されていません</p>
        <% end %>
      </div>
    </header>
    <section class="block-body">
      <div class="row">
        <% @reviews.first(3).each do |review| %>
          <div class="col-sm-4 blog-post">
            <h2><%= review.user.id %></h2>
            <div class="star-rating-sm">
              <div class="star-rating-front" style="width: <%= ((review.rate.to_f/5)*100).to_i %>%">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
            <p><%= review.comment.truncate(30, omission: '...') %></p>
            <a href="reviews/<%= review.id %>">Read More</a>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div><!-- #blog -->


<div class="content-block parallax" id="parallax">
  <div class="container">
    <h3 class="call-action pull-left">「<%= @spot.name %>」に対する、あなたの評価を登録しませんか？</h3>
    <%= link_to '評価を登録', new_review_path(@spot), class: "pull-right btn btn-o-white btn-lg" %>
  </div>
</div><!-- #parallax -->