<div id="wrapper">

<div id="header" class="content-block">
  <!-- <section class="top clearfix">
    <div class="pull-left">
      <h1><a class="logo" href="index.html">Nevada <span class="logo-head">Plus</span></a></h1>
    </div>
    <! <div class="pull-right">
      <a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
    </div>
  </section>-->
  <section class="center">
    <div class="slogan">
      Photo Spots
    </div>
    <div class="secondary-slogan">
      Find great photo spots
    </div></br></br>
    <%= search_form_for(@q, method: :get, :url => {:controller => :spots, :action => :search}) do |f| %>
      <%= f.label :都道府県で絞る： %>
      <%= f.select :prefecture_cont, @prefectures.map{|prefec| prefec.name}, id: "prefec", value: "都道府県を選択" %>
      <div class="input-group" style="width: 60%; margin: auto;">
        <%= f.search_field :name_cont, class: "form-control", placeholder: "撮影スポットを検索" %>
        <span class="input-group-btn">
          <%= f.submit '検索', class: "btn btn-primary" %>
        </span>
      </div><!-- /input-group -->
    <% end %>
  </section>
</div><!-- header -->

  <!-- About us -->
      <div id="about" class="about-us">
          <div class="container about-sec">
              <header class="block-heading cleafix">
          <div class="title-page">
            <p class="main-header">About</p>
              <p class="sub-header">カメラ好きが、撮影スポットをレビューするサイトです</p>
          </div>
        </header>
              <div class="divide50"></div>
              <div class="row">
                  <div class="col-md-4 text-center">
                      <div class="aboutus-item">
                          <i class="aboutus-icon fa fa-search"></i>
                          <h4 class="aboutus-title">撮影スポットが見つかる</h4>
                          <p class="aboutus-desc">Photo Spotsでは、撮影スポットの検索ができます。「どこに何を撮りに行くのか」を決める手助けをするサイトを目指しています。</p>
                      </div>
                  </div>
                  <div class="col-md-4 text-center">
                      <div class="aboutus-item">
                          <i class="aboutus-icon fa fa-thumbs-o-up"></i>
                          <h4 class="aboutus-title">撮影スポットを評価する</h4>
                          <p class="aboutus-desc">撮影スポットの情報を充実させるのは、「あなた」です。カメラ好き目線で、撮影スポットを評価し合い、みんなで「撮影スポットのデータベース」をつくりましょう！</p>
                      </div>
                  </div>
                  <div class="col-md-4 text-center">
                      <div class="aboutus-item">
                          <i class="aboutus-icon fa fa-camera-retro"></i>
                          <h4 class="aboutus-title">写真をシェアする</h4>
                          <p class="aboutus-desc">「そのスポットではどんな写真が撮れるのか」みんなに教えてあげましょう。同じ撮影スポットで撮られた写真を見せ合い、腕を競い合うのも良いかもしれません。</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /About us -->

<div class="content-block parallax" id="parallax">
  <div class="container">
    <h3 class="call-action pull-left">さあ、撮影スポットを見つけよう！</h3>
    <a href="/prefectures" class="pull-right btn btn-o-white btn-lg">撮影スポットを探す</a>
  </div>
</div><!-- #parallax -->

  <div class="content-block" id="footer">
    <div class="container">
      <div class="row">
          <div class="col-sm-6 blog-post">
            
            <h2 class="footer-block">Have a question?</h2>
            <p>当サービスについて、ご意見やご感想、改善すべき点などございましたら、こちらからお寄せください。</p>

            <p>Photo Spotsは、「カメラ好きによるカメラ好きのためのサービス」であるべきと考えています。カメラ好きの皆様からの率直なご意見は大歓迎です。
            </p>
          </div>
          <div class="col-sm-6 blog-post">
            <h2 class="footer-block">Leave us a message</h2>
            <form action="contact-form.php" id="contactForm" method="post" name="contactform" class="" role="form">
              <div class="form-group">
                  <input type="text" class="form-control form-control-white" id="name" name="name" placeholder="Your Name" required>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-white" id="email" name="email" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                  <textarea class="form-control form-control-white" id="message" name="massage" placeholder="Write Something" required></textarea>
                </div>
                <div id="contactFormResponse"></div>
                <div class="form-group">
                  <input id="cfsubmit" type="submit" class="text-center btn btn-o-white" value="Say Hello">
                </div>
            </form>
          </div>
        </div>
    </div>
  </div>
  <div class="content-block footer-bottom" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">&copy; Copyright Photo Spots</div>
      </div>
    </div>
  </div><!-- #footer -->

</div><!--/#wrapper-->